<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Totallydays</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" />
    @RenderSection("Style", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Totallydays</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <ul class="navbar-nav ml-auto align-items-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li class="nav-item ">
                                    <a class="nav-link " asp-area="" asp-route="admin_home">Admin</a>
                                </li>
                            }
                            AppUser user = await UserManager.GetUserAsync(User);
                            <li class="nav-item dropdown">
                                <a class="nav-link btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/img/avatar/@user.Id/@user.Picture" alt="" class="avatar-min">
                                    <span>@user.Lastname @user.Firstname</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" asp-route="my_hostings"> Mes Hébergement </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-route="my_bookings">Mes Réservations</a>
                                    <a class="dropdown-item" asp-route="my_account">Mon Compte</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="nav-link text-dark" asp-route="logout_account"> Déconnexion </a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link text-dark" asp-route="login_account"> Connexion </a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-route="account_register"> S'enregistrer </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (this.ViewBag.flashError != null)
        {
            foreach (string mess in this.ViewBag.flashError)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @mess
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            }

        }

        @if (this.ViewBag.flashSuccess != null)
        {
            foreach (string mess in this.ViewBag.flashSuccess)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @mess
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            }
        }

        <div id="prototype-flash">

            <div class="alert alert-__status__ alert-dismissible fade show" role="alert" style="display: none">
                __message__
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div>

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/dist/bundle.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7qLV3juiV8GovycHrqtGzeVsD-WWEqto&libraries=places"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
