@model Totallydays.ViewsModel.FormLoginViewModel;
@using Microsoft.Extensions.Options;
@inject IOptions<Totallydays.ViewsModel.ReCaptchaSetting> googleRecaptcha
@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <h2 class="text-center">Connectez-vous à votre compte</h2>
    <hr />
    <div class="block-flex flex-column-reverse align-item-center">
        <div>
            <div id="g-recaptcha"></div>

        </div>
        <div class="col-md-6 col-sm-12">
            <form asp-route="login_account_post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" required placeholder="Email*" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <input type="hidden" asp-for="TokenCaptcha"/>
                </div>
                <div class="form-group">
                    <input asp-for="Password" class="form-control" required placeholder="Password*" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Se Connecter</button>
                </div>
                <div>
                    <a asp-route="set-new-password">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>

        @if (Model.ExternalLogings.Count > 0)
        {
            <div class="my-5">
                <form asp-route="login_extern_account_post" asp-route-returnUrl=" @Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogings)
                        {
                            <div class="connexion-external">
                                <button type="submit" title="@provider.DisplayName" class="btn" name="provider" value="@provider.Name">
                                    <img src="~/img/connexion_extern/@(provider.DisplayName.ToLower()).png" alt="" class="connexion-external-img" />
                                    Continuer avec @provider.DisplayName
                                </button>
                            </div>
                        }
                    </div>
                </form>
            </div>
        }




    </div>
</div>

@section Scripts{
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    <script>
        var onloadCallback = function () {

            grecaptcha.render('g-recaptcha', {
                'sitekey': '@googleRecaptcha.Value.ReCAPTCHA_Site_key',
                'callback': verifyCallback,
                'theme': 'light'
            });
        }
        verifyCallback = function (response) {
            $("#TokenCaptcha").val(response);
        }

    </script>
}


