@model Hosting;
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    var User = await UserManager.GetUserAsync(this.User);
}

@if (@Model.getNumberComment() > 0)
{


    <div class="alert alert-info">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4>Note globale donnée par nos voyageurs !</h4>
            </div>
            <div class="col-md-6 text-right">
                <i class="fas fa-star"></i>
                @Model.GetAverage()
                (@Model.getNumberComment())
            </div>
        </div>
    </div>
    <div>

        <h2>Commentaires : </h2>
        @foreach (Booking b in Model.Bookings)
        {
            if(b.Rating != null)
            {
                Comment c = b.Rating;
                <div class="bg-light arrondi mt-3 pt-3 px-3">
                    <div class="row">
                        <div class="col-md-2">
                            @if (c.User_emmiter.Picture != null)
                            {
                                <img src="~/img/avatar/@c.User_emmiter.Id/@c.User_emmiter.Picture" class="avatar avatar-middle" />
                            }
                            else
                            {
                                <img src="~/img/avatar/homme.jpg" class="avatar avatar-middle" />
                            }
                        </div>
                        <div class="col-md-10">
                            <strong>@c.User_emmiter.Lastname @c.User_emmiter.Firstname</strong> a dit :
                            <p>@c.Content</p>
                            <p>
                                Note : @c.Rating / 5

                            </p>
                        </div>
                    </div>
                </div>
            }

        }
    </div>

}
else
{

    <p>Cette annonces n'a pas encore de commentaires</p>
}
