@model IEnumerable<Hosting>;
@{
    ViewData["Title"] = "GetHostingSearch";
}


<div class="block-flex">

    <div id="hostings-block" class="w-40 pl-3">
        <h2>Logement trouvé</h2>
        <div>
            filtre futur
        </div>
        <hr />
        <div class="list-hosting px-3 hvh-80 overflow-auto">
            @foreach (Hosting h in Model)
            {
                <div class="block-hosting coordinate-hosting" data-lng="@h.Lng" data-lat="@h.Lat" data-title="@h.Title">
                    <a href="@Url.RouteUrl("hosting_view", new { slug = h.Slug })" class="hosting-search">
                        <div class="block-flex">
                            <div class="image-gb w-50" style="background-image: url('@Url.Content("~/img/hosting/coverImage/" + h.Cover_image)')">
                            </div>
                            <div class="pl-4">
                                <p>@h.Hosting_type.Name à @h.City</p>
                                <p>@h.Title</p>
                                <p>
                                    <i class="fas fa-star"></i>
                                    @h.GetAverage()
                                    (@h.getNumberComment())
                                </p>
                                <span>_______</span>
                                <p>@h.Bedrooms.Count() nombre de chambres</p>
                            </div>
                        </div>
                    </a>
                    <hr />
                </div>
            }
        </div>
    </div>
    <div id="map" data-lat="@Hosting.lat" data-lng="@Hosting.lng" data-zoom="@Hosting.zoom" class="full-map hvh-90 w-60"></div>
</div>


